In [2]:
import numpy as np
import pandas as pd

In [15]:
url = 'https://s3-us-west-2.amazonaws.com/learn-assets.galvanize.com/gSchool/ds-curriculum/sql-block/universities.csv'
uni = pd.read_csv(url, sep = '\t', delimiter=",")

uni

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0

In [17]:
uni.head()

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0

In [18]:
uni.shape

(2907, 5)

In [19]:
uni.describe

<bound method NDFrame.describe of                                                    name  \
0               A T Still University of Health Sciences
1                          Abilene Christian University
2                  Abraham Baldwin Agricultural College
3                                       Academy College
4                  Academy for Five Element Acupuncture
...                                                 ...
2902  Yo San University of Traditional Chinese Medicine
2903                                       York College
2904                          York College Pennsylvania
2905                        Youngstown State University
2906                                 Zion Bible College

                                                address  \
0           800 W Jefferson, Kirksville, Missouri 63501
1               1600 Campus Court, Abilene, Texas 79699
2            2802 Moore Hwy, Tifton, Georgia 31793-2601
3     1101 E. 78th Street, Suite 100, Minneapolis, M...
4            305 SE 2nd Ave, Gainesville, Florida 32601
...                                                 ...
2902  13315 W. Washington Boulevard, Los Angeles, Ca...
2903           1125 E 8th St, York, Nebraska 68467-2699
2904     Country Club Rd, York, Pennsylvania 17403-3651
2905  One University Plaza, Youngstown, Ohio 44555-0001
2906  320 South Main Street, Haverhill, Massachusett...

                     Website  \
0               WWW.ATSU.EDU
1                www.acu.edu
2               www.abac.edu
3     www.academycollege.edu
4      www.acupuncturist.edu
...                      ...
2902           www.yosan.edu
2903           www.york.edu/
2904             www.ycp.edu
2905             www.ysu.edu
2906             www.zbc.edu

                                                   Type     Size
0                        4-year, Private not-for-profit   3480.0
1                        4-year, Private not-for-profit   4669.0
2                 4-year, primarily associate's, Public   3600.0
3     4-year, primarily associate's, Private for-profit    165.0
4                        4-year, Private not-for-profit     51.0
...                                                 ...      ...
2902                     4-year, Private not-for-profit    139.0
2903                     4-year, Private not-for-profit    396.0
2904                     4-year, Private not-for-profit   5627.0
2905                                     4-year, Public  13704.0
2906                     4-year, Private not-for-profit    247.0

[2907 rows x 5 columns]>

In [20]:
uni.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [26]:
uni.groupby(['Type'])['Size'].mean(), asc

Type
4-year, Private for-profit                                3504.501859
4-year, Private not-for-profit                            2399.885696
4-year, Public                                           11478.913765
4-year, primarily associate's, Private for-profit          934.380597
4-year, primarily associate's, Private not-for-profit     1129.413793
4-year, primarily associate's, Public                     6889.366197
Name: Size, dtype: float64

In [27]:
uni.groupby(['Type'])['Size'].median(), asc

Type
4-year, Private for-profit                                730.0
4-year, Private not-for-profit                           1206.0
4-year, Public                                           7669.0
4-year, primarily associate's, Private for-profit         564.5
4-year, primarily associate's, Private not-for-profit     768.0
4-year, primarily associate's, Public                    3558.0
Name: Size, dtype: float64